{% extends "layout.html" %}
{% block title %}Admin panel{% endblock %}
{% block body %}
    <h1>Assign new package to device</h1>
    <form id="packageForm" action="/admin/newPackage">
        <label for="deviceId">Device ID:</label><br/>
        <input type="text" id="deviceId" name="deviceId"/><br/>

        <label for="packageType">Package type:</label><br/>
        <select id="packageType" name="packageType">
            {% for t in packageTypes %}
            <option value={{t}}>{{t.capitalize()}}</option>
            {% endfor %}
        </select><br/>
        <input type="submit"/>
    </form>
{% endblock %}
