<html>
    <head>
        <title>Admin panel</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <h1>Assign new package to device</h1>
        <form id="packageForm" action="/device/" onsubmit="formSubmit">
            <label for="deviceId">Device ID:</label><br/>
            <input type="text" id="deviceId" name="deviceId"/><br/>

            <label for="packageType">Package type:</label><br/>
            <select id="packageType" name="packageType">
                <option value="letter">Letter</option>
                <option value="clothing">Clothing</option>
                <option value="glass">Glass</option>
                <option value="electronics">Electronics</option>
                <option value="food">Food</option>
                <option value="animal">Animal</option>
            </select><br/>
            <input type="submit"/>
        </form>

        <script>
            function formSubmit() {
                let deviceIdField = document.getElementById("deviceId")
                alert("Got it")
                form.setAttribute("action", `/device/${deviceIdField.value}`)
            }

            // let form = document.getElementById("packageForm")
            // let deviceIdField = document.getElementById("deviceId")
            // form.onsubmit(() => {
            //     alert("Got it")
            //     form.setAttribute("action", `/device/${deviceIdField.value}`)
            // })
        </script>
    </body>
</html>